{% extends 'StrokitCoreBundle::mail.html.twig' %}

{% block body_html %}

    <p>
        Уважаемый(ая) {{ complaint.author }}!
    </p>
    <p>
        Ваш отзыв для компании <a href="{{ url('info_complaint_complaint',{'id':complaint.id}) }}">{{ complaint.company.name }}</a> прокомментировали.
    </p>
    <hr/>
    <div >
        <p>
            {{ comment.user? :'Аноним' }} | {{ comment.createdAt|format_datetime }}
            {% if comment.user == complaint.company.manager %}<br><span class="label label-success">Представитель компании</span> {% endif %}
        </p>
        <p>{{ comment.comment }}</p>

    </div>
    <hr/>
    <p>
        Ответить на комментарий Вы можете по ссылке <a href="{{ url('info_complaint_complaint',{'id':complaint.id}) }}#comment_{{ comment.id }}">{{ url('info_complaint_complaint',{'id':complaint.id}) }}#comment_{{ comment.id }}</a>
    </p>

{% endblock %}