{% extends 'StrokitCoreBundle::mail.html.twig' %}

{% block body_html %}

    <p>
        Уважаемый пользователь, {{ complaint.author }}!
    </p>
    <p>
        Ваш отзыв "<a href="{{ url('info_complaint_complaint',{'id':complaint.id}) }}">{{ complaint.title }}</a>" прокомментировали.
    </p>

    <div style="border-bottom: 1px solid #eeeeee">
        <p>
            {{ comment.user? :'Аноним' }} | {{ comment.createdAt|format_datetime }}
            {% if comment.user == complaint.company.manager %}<br><span class="label label-success">Представитель компании</span> {% endif %}
        </p>
        <p>{{ comment.comment }}</p>

    </div>

    <p>
        Ответить на комментарий Вы можете по ссылке <a href="{{ url('info_complaint_complaint',{'id':complaint.id}) }}#comment_{{ comment.id }}">{{ url('info_complaint_complaint',{'id':complaint.id}) }}#comment_{{ comment.id }}</a>
    </p>

{% endblock %}