<div class="tab-pane {% if active == COMMENT_TAB %} active {% endif %}" id="comments">
    <div class="row">
        <div class="col-lg-12">

            <!-- BEGIN TAB HEADER -->
            <div class="margin-bottom-xxl">
                <span class="text-light text-lg">Результаты поиска по запросу "{{ searchValue }}" <strong>{{ comments.getTotalItemCount }}</strong></span>
            </div>
            <!--end .margin-bottom-xxl -->
            <!-- END TAB HEADER -->

            <!-- BEGIN RESULT LIST -->
            <div class="list-results list-results-underlined">
                {% for comment in comments %}
                    <div class="col-xs-12">
                        <p>

                            {{ gravatar_image(comment.user, 30, {'class' :'img-circle img-responsive pull-left width-1 margin-right10'}) }}
                            <span class="text-medium">
                                        <a href="{{ path('info_complaint_complaint', {'id':comment.complaint.id}) }}#comment_{{ comment.id }}">
                                            {{ comment.user? comment.user:'Аноним' }}
                                        </a>
                                        </span>
                            <br>
                                        <span class="opacity-50">
                                            <a href="{{ path ('info_complaint_complaint',{'id':comment.complaint.id}) }}#comment_{{ comment.id }}">
                                                {{ comment.createdAt|format_date }}
                                            </a>
                                        </span>
                        </p>

                        <div class="contain-xs pull-left">
                            {% if (comment.comment|length > 200) %}
                                {{ comment.comment| striptags| slice(0, 200)| raw }}...
                            {% else %}
                                {{ comment.comment| striptags| raw }}
                            {% endif %}
                        </div>
                    </div><!--end .col -->
                {% endfor %}
            </div>
            <!--end .list-results -->
            <!-- END RESULTS LIST -->

            {{ knp_pagination_render(comments) }}
        </div>
        <!--end .col -->
    </div>
    <!--end .row -->
</div>