{% set isManager = user != null and user == complaint.company.manager %}
{% set isAuthor = user != null and user == complaint.author %}
<div id="comment_{{ node.id }}" class="card">
    <div class="comment-avatar">{{ gravatar_image(user, 58, {'class': 'img-circle'})}}</div>
    <div class="card-body">
        <h4 class="comment-title">

            {% if user %}
                <a href="{{ path('user_public_show', {'user': user.id}) }}">
                    {{ user }}
                </a>
            {% else %}
                Аноним
            {% endif %}
            <small>{{ node.createdAt|format_datetime }}</small>
            {% if isManager %}<br><span class="label label-success">Представитель компании</span> {% endif %}
            {% if isAuthor %}<br><span class="label label-info">Создатель отзыва</span> {% endif %}
        </h4>
        <a class="btn btn-default-dark stick-top-right btn-reply-comment" href="javascript:void(0);" data-complaint="{{ complaint.id }}" data-comment="{{ node.id }}">Ответить</a>
        {{ node.comment|raw }}
    </div>
</div><!--end .card -->

<div id="form-block-{{ node.id }}" class="comment-form-block"></div>