<div class="card style-default-bright">
    {{ form_start(form,{'attr':{'class':'form', 'novalidate':true, 'onSubmit':'return Comment.sendComment($(this));', 'data-type':'main-comment-form'} }) }}
    <div class="card-body small-padding">
        <div class="form-group floating-label">
            {{ form_widget(form.comment,{'attr':{'class':'form-control autosize'} }) }}
            {{ form_label(form.comment) }}
        </div>
    </div>
    <div class="card-actionbar">
        <div class="card-actionbar-row">
            {{ form_widget(form.save,{'attr':{'class':'btn ink-reaction'} }) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>