{% extends "::base.html.twig" %}
{% import "@InfoComplaint/Default/stars.html.twig" as stars %}

    {% block body %}

        <div class="container">
            
            <div class="container">
                <div class="thumbnail">

                    <div class="row">

                        <div class="col-md-2">
                            <div class="thumbnail" style="margin-top:20px; margin-left:15px">
                                {% include 'InfoComplaintBundle:Company:_company_logo.html.twig' with {'company':company} %}
                            </div>
                        </div>

                        <div class="col-md-10">

                            <div class="container">
                                <h3>{{company.name}}
                                    <span
                                        title="{{ company.approved ? "Подтвержденный" : "Неподтвержденный" }}"
                                        class="glyphicon {{ company.approved ? "glyphicon-ok-circle green" : "glyphicon-ban-circle red"}}">
                                    </span>
                                </h3>

                            </div>

                            <div class="container">

                                <div class="row">
                                    <div class="col-md-3">
                                            <h4><small>
                                                Описание компании:
                                            </small></h4>
                                            <h4>{{ company.annotation }}</h4>

                                    </div>
                                    <div class="col-md-2">
                                            <h4><small>
                                                Количество отзывов:
                                            </small></h4>
                                            <h4>{{ company.complaints|length }}</h4>

                                    </div>
                                    {#<div class="col-md-2">#}
                                            {#<h4><small>#}
                                                {#Всего благодарностей:#}
                                            {#</small></h4>#}
                                            {#<h4>300</h4>#}

                                    {#</div>#}

                                    <div class="col-md-2">
                                            <h4><small>
                                                Рейтинг
                                            </small></h4>
                                            {{ stars.show(average) }}

                                    </div>

                                    <div class="col-md-3">
                                    {% if company.manager != null and app.user != null and company.manager == app.user %}
                                        <a class="btn" href="{{ path('info_manager_company_edit',{ 'company':company.id }) }}">
                                            Редактировать данные компании
                                        </a>
                                    {% endif %}
                                    {% if company.manager == null and app.user != null %}
                                        <a class="btn be_manager" href="{{ path('info_be_manager_company',{ 'company':company.id }) }}">
                                            Стать представителем компании
                                        </a>
                                    {% endif %}
                                    <a class="btn"  href="{{ path("info_complaint_create",{ 'id':company.id}) }}">
                                        Добавить отзыв
                                    </a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    {%  include '@InfoComplaint/Default/social.html.twig' with {'url': url ('info_company_homepage',{'id':company.id}), 'title':"Книга отзывов и предложений. Компания "~company.name, 'description': 'Отзывы о компании'~company.name }  %}

                </div>
            </div>

            <div class="container">
            <h2>Отзывы</h2>
                {% for complaint in complaintlist %}
                    {{ include ('@InfoComplaint/Complaint/_blockComplaint/_complaintItemInCompanyPage.html.twig', {'complaint':complaint}) }}
                {% else %}
                    <h3>Пока отзывов не было оставлено</h3>
                {% endfor %}

            </div> 
        </div>              
           
        

        

    
    {% endblock %}
