{% extends "::base.html.twig" %}
{% import "@InfoComplaint/Default/fab.html.twig" as fab %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/libs/bootstrap-rating/bootstrap-rating-input.min.js') }}"></script>
    <script src="{{ asset('bundles/infocomplaint/js/jquery_autocomplete.js') }}"></script>
    <script src="{{ asset('bundles/infocomplaint/js/company.js') }}"></script>
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <script src="{{ asset('bundles/infocomplaint/js/fileupload.js') }}"></script>
{% endblock javascripts %}
{% block content_block %}
            <!-- BEGIN PROFILE HEADER -->
            <section class="full-bleed">
                {% if company.manager == null and app.user != null %}
                    <a class="btn stick-top-right btn-info be_manager"
                       href="{{ path('info_be_manager_company',{ 'company':company.id }) }}">
                        Стать представителем компании
                    </a>
                {% endif %}

                <div class="section-body style-default-dark force-padding text-shadow">
                    <div class="img-backdrop"
                         style="background-image: url('{{ asset('public/img/img16.jpg') }}');"></div>
                    <div class="overlay overlay-shade-top stick-top-left height-3"></div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5">
                            {% include 'InfoComplaintBundle:Company:_company_logo.html.twig' with {'company':company} %}
                            <h3>
                                {{ company.name }}
                                <a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Компания подтверждена"><i
                                            class="fa fa-check-circle"></i></a><br/>
                                {% if company.category %}
                                <a href="{{ path('info_complaint_category',{'categorySlug':company.category.slug}) }}">
                                    <small>{{ company.category }}</small>
                                </a>
                                {% endif %}
                                <br/>

                                {#<div class="star-rating">
                                    <input type="number" name="rating" class="rating" data-min="1" data-max="5"
                                           value="{{ average }}"/>
                                </div>#}
                            </h3>
                        </div>
                        <!--end .col -->
                    </div>
                    <!--end .row -->
                    <div class="overlay overlay-shade-bottom stick-bottom-left force-padding text-right">
                        {% if company.instagram %}
                        <a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" target="_blank" rel="nofollow" href="{{ company.instagram }}"
                           data-original-title="Страница в Instagram"><i class="fa fa-instagram"></i></a>
                        {% endif %}
                        {% if company.facebook %}
                        <a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" target="_blank" rel="nofollow" href="{{ company.facebook }}"
                           data-original-title="Страница в Facebook"><i class="fa fa-facebook"></i></a>
                        {% endif %}
                        {% if company.twitter %}
                        <a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" target="_blank" rel="nofollow" href="{{ company.twitter }}"
                        data-original-title="Страница в Twitter"><i class="fa fa-twitter"></i></a>
                        {% endif %}
                    </div>
                </div>
                <!--end .section-body -->
            </section>
            <!-- END PROFILE HEADER  -->

            <ul class="nav nav-tabs" data-toggle="tabs">
                <li class="active"><a href="#complaints">Отзывы ({{ company.complaints|length }})</a></li>
                <li><a href="#description">Описание</a></li>
            </ul>

            <section>
                <div class="section-body no-margin">
                    <div class="row">

                        <div class="col-md-8">
                            <div class="tab-content">
                                <div class="tab-pane active" id="complaints">
                                    <h2>Отзывы</h2>

                                    <!-- BEGIN ENTER COMPLAINT -->
                                    <div class="card mb0">
                                        <div class="card-head">
                                            <header>Оставить отзыв</header>
                                            <div class="tools">
                                                <a class="btn btn-icon-toggle btn-collapse"><i
                                                            class="fa fa-angle-down"></i></a>
                                            </div>
                                        </div>
                                        <div class="card-body" id="complaint-form">
                                            {% include "@InfoComplaint/Complaint/_complaint_form.html.twig" with {'form' : form, 'company':company, 'isCompanyPage':1} %}
                                        </div>
                                    </div>
                                    <!-- END ENTER COMPLAINT -->

                                    <!-- BEGIN COMPLAINT ACTIVITY -->
                                    <ul class="timeline collapse-lg timeline-hairline" id="company_complaints">
                                        {% for complaint in complaintlist %}
                                            {{ include ('@InfoComplaint/Complaint/_blockComplaint/_complaintItemInCompanyPage.html.twig', {'complaint':complaint}) }}
                                        {% else %}
                                            <li>
                                                <div class="timeline-circ">
                                                </div>
                                                <div class="timeline-entry">
                                                    <div class="card style-default-bright">
                                                        <div class="card-head small-padding line-height-body">
                                                            На данный момент для компании {{ company.name }} не
                                                            оставлено ни одного отзыва. <br/>
                                                            Будьте первым, <a
                                                                    href="{{ path('info_complaint_create', {'id':company.id}) }}"
                                                                    class="text-primary">оставьте отзыв</a> о компании.
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="pagination pagination-right">
                                        {{ knp_pagination_render(complaintlist) }}
                                    </div>
                                    <!--end #activity -->

                                </div>
                                <!--end .tab-pane -->

                                <div class="tab-pane" id="description">
                                    <div class="card">
                                        <div class="card-body">
                                            <article class="text-columns-2">
                                                {% if company.annotation %}
                                                    {{ company.annotation }}
                                                {% else %}
                                                    Описание еще не добавлено
                                                {% endif %}
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end .col -->
                        </div>

                        <!-- BEGIN PROFILE MENUBAR -->
                        <div class="col-lg-offset-1 col-lg-3 col-md-4">
                            <div class="card card-underline style-default-dark">
                                <div class="card-head">
                                    <header class="opacity-75">
                                        <small>Информация</small>
                                    </header>
                                    <div class="tools">
                                        {% if company.manager != null and app.user != null and company.manager == app.user or is_granted('ROLE_ADMIN') %}
                                            <a class="btn btn-icon-toggle ink-reaction"
                                               href="{{ path('info_manager_company_edit',{ 'slug':company.slug }) }}"
                                               data-toggle="tooltip" data-placement="top"
                                               data-original-title="Редактировать данные компании">
                                                <i class="md md-edit"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <!--end .tools -->
                                </div>
                                <!--end .card-head -->
                                <div class="card-body no-padding">
                                    <ul class="list">
                                        <li class="tile">
                                            <a class="tile-content ink-reaction">
                                                <div class="tile-icon">
                                                    <i class="md md-location-on"></i>
                                                </div>
                                                <div class="tile-text">
                                                    {{ company.address ? : "не указано" }}
                                                </div>
                                            </a>
                                        </li>
                                        <li class="tile">
                                            <a class="tile-content ink-reaction">
                                                <div class="tile-icon">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <div class="tile-text">
                                                    {{ company.phone ? : "не указано" }}
                                                </div>
                                            </a>
                                        </li>
                                        <li class="tile">
                                            <a class="tile-content ink-reaction" rel="nofollow"{% if company.site %} target="_blank" href="{{ company.site }}"{% endif %}>
                                                <div class="tile-icon">
                                                    <i class="fa fa-external-link"></i>
                                                </div>
                                                <div class="tile-text">
                                                    {{ company.site ? : "не указано" }}
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end .card-body -->
                            </div>
                            <!--end .card -->
                        </div>
                        <!-- END PROFILE MENUBAR -->

                    </div>
                    <!--end .row -->
                </div>
                <!--end .section-body -->
            </section>
            <!-- END CONTENT -->

            {{ fab.show(path('info_complaint_create', {'id':company.id}), true) }}
{% endblock %}
