{% extends "::base.html.twig" %}

    {% block body %}

        <div class="container">
            
            <div class="container">
                <div class="thumbnail">

                    <div class="row">

                        <div class="col-md-2">
                            <div class="thumbnail" style="margin-top:20px; margin-left:15px">
                                {% include 'InfoComplaintBundle:Company:_company_logo.html.twig' with {'company':company} %}
                            </div>
                        </div>

                        <div class="col-md-10">

                            <div class="container">
                                <h3>{{company.name}}
                                    <span
                                        title="{{ company.approved ? "Подтвержденный" : "Неподтвержденный" }}"
                                        class="glyphicon {{ company.approved ? "glyphicon-ok-circle green" : "glyphicon-ban-circle red"}}">
                                    </span>
                                </h3>

                            </div>

                            <div class="container">

                                <div class="row">
                                    <div class="col-md-4">
                                            <h4><small>
                                                Описание компании:
                                            </small></h4>
                                            <h4>{{ company.annotation }}</h4>

                                    </div>
                                    <div class="col-md-2">
                                            <h4><small>
                                                Количество отзывов:
                                            </small></h4>
                                            <h4>{{ company.complaints|length }}</h4>

                                    </div>
                                    {#<div class="col-md-2">#}
                                            {#<h4><small>#}
                                                {#Всего благодарностей:#}
                                            {#</small></h4>#}
                                            {#<h4>300</h4>#}

                                    {#</div>#}

                                    <div class="col-md-1">
                                            <h4><small>
                                                Рейтинг
                                            </small></h4>
                                            <h4>{{average}}</h4>

                                    </div>

                                    <div class="col-md-3">
                                    {% if company.manager != null and app.user != null and company.manager == app.user %}
                                        <a class="btn" href="{{ path('info_manager_company_edit',{ 'company':company.id }) }}">
                                            Редактировать данные компании
                                        </a>
                                    {% endif %}
                                    <a class="btn"  href="{{ path("info_complaint_create",{ 'id':company.id}) }}">
                                        Добавить отзыв
                                    </a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
            <h2>Отзывы</h2>
                {%for complaint in complaintlist %}
                    {{   include ('InfoComplaintBundle:Complaint:_blocComplaint.html.twig',{'complaint':complaint}) }}
                {% endfor %}

            </div> 
        </div>              
           
        

        

    
    {% endblock %}
