{% block header %}

    <header id="header" >
        <div class="headerbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand" >
                        <div class="brand-holder">
                            <a href="{{ path('info_complaint_homepage') }}">
                                <span class="text-lg text-bold text-primary">Книга отзывов и предложений</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="headerbar-right">
                <ul class="header-nav header-nav-options">
                    <li>
                        <!-- Search form -->
                        <form class="navbar-search" role="search" action="{{ path('info_search') }}">
                            <div class="form-group">
                                <input id="searching" class="form-control" name="search[search]" placeholder="Поиск" type="text">
                            </div>
                            <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                </ul><!--end .header-nav-options -->

                {% if not app.user %}
                <ul class="header-nav">
                    <li>
                        <a class="btn btn-default" href="{{ path('sonata_user_security_login') }}">Войти</a>
                    </li>
                </ul>
                {% else %}
                <ul class="header-nav header-nav-profile">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                            {{ gravatar_image(app.user, 30) }}
								<span class="profile-info">
									{{ app.user }}
									<small>{% if is_granted('ROLE_ADMIN') %} Администратор {% elseif is_granted('ROLE_MODERATOR')  %} Модератор {% else %} Пользователь {% endif %}</small>
								</span>
                        </a>
                        <ul class="dropdown-menu animation-dock">
                            <li><a href="{{ path('sonata_user_profile_show') }}">Мой профиль</a></li>
                            <li><a href="{{ path('info_manager_company_list') }}">Мои компании</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Настройки</li>
                            <li><a href="{{ path('sonata_user_profile_edit') }}">Редактировать профиль</a></li>
                            <li><a href="{{ path('info_user_notification_edit') }}">Настройки уведомлений</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('sonata_user_change_password') }}">Сменить пароль</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-fw fa-dashboard"></i> Админ панель</a></li>
                            {% endif %}
                            <li><a href="{{ path('sonata_user_security_logout') }}"><i class="fa fa-fw fa-power-off text-danger"></i> Выйти</a></li>
                        </ul><!--end .dropdown-menu -->
                    </li><!--end .dropdown -->
                </ul><!--end .header-nav-profile -->

                {% endif %}
            </div><!--end #header-navbar-collapse -->
        </div>
    </header>
{% endblock %}