<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css/bootstrap.cosmo.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css/jquery-ui.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css/font-awesome.min.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css/style.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    {% include '::_header.html.twig' %}
    <div class="container">

        {% block body %}{% endblock %}
    </div>

    {% include '::_footer.html.twig' %}

        {% block javascripts %}
            <script src="{{ asset('public/js/jquery-1.10.2.min.js') }}"></script>
            <script src="{{ asset('public/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/infocomplaint/js/jquery-ui.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('public/js/scripts.js') }}"></script>
            <script src="{{ asset('public/js/autocomplete.js') }}"></script>
            <script src="{{ asset('public/js/jquery.raty.js') }}"></script>
            <script src="{{ asset('public/js/main.js') }}"></script>
            <script src="{{ asset('public/js/analytics.js') }}"></script>
            {#<script type="text/javascript" src="http://jira.strokit.net/s/d41d8cd98f00b204e9800998ecf8427e/ru_RU-obrn74-1988229788/6163/6/1.4.3/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=04744576"></script>#}
            <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
        {% endblock %}
    </body>
</html>
