{% extends "SonataUserBundle::layout.html.twig" %}

{% block title %}{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}{% endblock %}

{% block fos_user_content %}


    <!-- BEGIN LOGIN SECTION -->
    <section class="section-account">
        <div class="img-backdrop" style="background-image: url({{ asset('public/img/img16.jpg') }})"></div>
        <div class="spacer"></div>
        <div class="card contain-sm style-transparent">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <br/>
                        <span class="text-lg text-bold text-primary">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</span>
                        <br/><br/>

                        <form action="{{ path("fos_user_registration_register") }}" {{ form_enctype(form) }}
                              method="post" role="form"
                              class="form floating-label">

                            <div class="form-group">
                                {{ form_widget(form.username, {'attr':{ 'class' : 'form-control' } }) }}
                                {{ form_label(form.username) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr':{ 'class' : 'form-control' } }) }}
                                {{ form_label(form.email) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.plainPassword.first, {'attr':{ 'class' : 'form-control' } }) }}
                                {{ form_label(form.plainPassword.first) }}
                            </div>

                            <div class="form-group">
                                {{ form_widget(form.plainPassword.second, {'attr':{ 'class' : 'form-control' } }) }}
                                {{ form_label(form.plainPassword.second) }}
                            </div>
                            <br/>

                            {{ form_rest(form) }}
                            <div class="row">
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-primary btn-raised"
                                            type="submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
                                </div>
                                <!--end .col -->
                            </div>
                            <!--end .row -->

                        </form>
                    </div>
                    <!--end .col -->

                    <div class="col-sm-5 col-sm-offset-1 text-center">
                        <br><br>
                        <h3 class="text-light">
                            {{ 'or'|trans({}, 'SonataUserBundle') }}
                        </h3>
                        <p>
                            {% render(controller('HWIOAuthBundle:Connect:connect')) %}
                        </p>
                    </div><!--end .col -->
                </div>
                <!--end .row -->
            </div>
            <!--end .card-body -->
        </div>
        <!--end .card -->
    </section>

{% endblock %}