{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/libs/moment/moment.min.js') }}"></script>
    <script src="{{ asset('public/js/libs/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('public/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.ru.js') }}"></script>
    <script src="{{ asset('public/js/libs/summernote/summernote.min.js') }}"></script>
    <script type="text/javascript">
        $(".select2").select2();
        $("#sonata_user_profile_form_biography").summernote({
            oninit: function () {
                $('.note-editable').css('min-height', '150px');
            },
            onImageUpload: Summernote.sendFile
        });
        $('.datepicker-element').datepicker({
            language: 'ru'
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="{{ asset('public/css/theme-1/libs/bootstrap-datepicker/datepicker3.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('public/css/theme-1/libs/summernote/summernote.css') }}">
{% endblock %}

{% block body %}
    {#{% sonata_template_box 'This is the user profile edition template. Feel free to override it.' %}#}

    {{ form_errors(form) }}

    {% form_theme form _self %}
    <div class="row">

        <!-- BEGIN ADD CONTACTS FORM -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-head style-primary">
                    <header>{{ "title_user_edit_profile" | trans({}, 'SonataUserBundle') }}</header>
                </div>
                {{ form_start(form, {'attr':{'role':'form', 'class':'form'}, 'action': path('sonata_user_profile_edit')}) }}

                <!-- BEGIN DEFAULT FORM ITEMS -->
                <div class="card-body style-primary form-inverse">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group floating-label">
                                        {{ form_widget(form.firstname, {'attr': {'class':"form-control input-lg"}}) }}
                                        {{ form_label(form.firstname) }}
                                    </div>
                                </div>
                                <!--end .col -->
                                <div class="col-md-6">
                                    <div class="form-group floating-label">
                                        {{ form_widget(form.lastname, {'attr': {'class':"form-control input-lg"}}) }}
                                        {{ form_label(form.lastname) }}
                                    </div>
                                </div>
                                <!--end .col -->
                            </div>
                            <!--end .row -->
                        </div>
                        <!--end .col -->
                    </div>
                    <!--end .row -->
                </div>
                <!--end .card-body -->
                <!-- END DEFAULT FORM ITEMS -->

                <!-- BEGIN FORM TAB PANES -->
                <div class="card-body">
                    <div class="row">
                        <div class="form-group">
                            {{ form_widget(form.phone, {'attr': {'class':"form-control", 'data-inputmask': "'mask':'9(999) 999999'"}}) }}
                            {{ form_label(form.phone) }}
                        </div>
                        <div class="form-group floating-label ">
                            {{ form_widget(form.website, {'attr': {'class':"form-control"}}) }}
                            {{ form_label(form.website) }}
                        </div>
                        <div class="form-group floating-label ">
                            {{ form_widget(form.gender, {'attr': {'class':"form-control"}}) }}
                            {{ form_label(form.gender) }}
                        </div>
                        <div class="form-group">
                            <div class="input-group date">
                                <div class="input-group-content">
                                    {{ form_widget(form.dateOfBirth, {'attr': {'class':"form-control datepicker-element"}}) }}
                                    {{ form_label(form.dateOfBirth) }}
                                </div>
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <!--end .form-group -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.locale, {'attr': {'class':"form-control select2"}}) }}
                                    {{ form_label(form.locale) }}
                                </div>
                            </div>
                            <!--end .col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.timezone, {'attr': {'class':"form-control select2"}}) }}
                                    {{ form_label(form.timezone) }}
                                </div>
                            </div>
                            <!--end .col -->
                        </div>
                        <div>
                            <div class="form-group">
                                {{ form_label(form.biography) }}
                            </div>
                            {{ form_widget(form.biography, {'attr': {'class':"form-control"}}) }}
                        </div>
                    </div>
                    <!--end .row -->
                </div>
                <!--end .card-body.tab-content -->
                <!-- END FORM TAB PANES -->

                <!-- BEGIN FORM FOOTER -->
                <div class="card-actionbar">
                    <div class="card-actionbar-row">
                        <a class="btn btn-flat" href="{{ path('sonata_user_profile_show') }}">ОТМЕНА</a>
                        <button type="submit"
                                class="btn btn-flat btn-accent">Сохранить</button>
                    </div>
                    <!--end .card-actionbar-row -->
                </div>
                <!--end .card-actionbar -->
                <!-- END FORM FOOTER -->

                {{ form_end(form) }}
            </div>
            <!--end .card -->
        </div>
        <!--end .col -->
        <!-- END ADD CONTACTS FORM -->

    </div>

    {#{% render url("sonata_user_profile_edit_authentication") %}#}
{% endblock %}