<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{ path ('info_complaint_complaint',{'id':complaint.id}) }}"><h4>{{ complaint.title }}</h4></a>
        {{ complaint.author }}  |  {{ complaint.created|format_date }}  |  {{ complaint.id }}
    </div>
    {{ complaint.text }}
    </br>
    {% for i in 1..10 %}
        {% if (i<complaint.rating) %}
            <img src="{{ asset('public/images/img/star-on.png') }}">
        {% else %}
            <img src="{{ asset('public/images/img/star-off.png') }}">
        {% endif %}
    {% endfor %}
    <div class="clear"></div>

</div>