<div class="panel panel-default">
    </br>{{ complaint.title }}
    </br>{{ complaint.author }}
    </br>{{ complaint.created|date}}
    </br>{{ complaint.id }}
    </br>{{ complaint.text }}
    </br>{{ complaint.rating }}
</div>