<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{ path ('info_complaint_complaint',{'id':complaint.id}) }}"><h4>{{ complaint.title }}</h4></a>
        {{ complaint.author }}  |   {{ complaint.created|format_date }}  |  {{ complaint.id }}
    </div>
    <div class="panel-body">
        </br>{{ complaint.text }}
        <div class="clear"></div>
    </div>
</div>