
<div class="panel panel-default">
    <div class="panel-heading">
        <span class = "complaint-voting-block">
            <a href="javascript:void(0)" onclick="Vote.sendVote('complaint',{{complaint.id}},'plus')"><span class="glyphicon glyphicon-thumbs-up"></span></a>
            <span id="vote-complaint{{complaint.id}}">{{complaint.vote}}</span>
            <a href="javascript:void(0)" onclick="Vote.sendVote('complaint',{{complaint.id}},'minus')"><span class="glyphicon glyphicon-thumbs-down"></span></a>
        </span>
        
        {% if use_link is defined and use_link == true %}
            <a href="{{ path ('info_complaint_complaint',{'id':complaint.id}) }}"><h2>{{ complaint.title }}</h2></a>
        {% else %}
            <h2>{{ complaint.title }}</h2>
        {% endif %}
        {% if show_company is defined and show_company == true %}
            <h4>Компания: <a href="{{ path('info_company_homepage', {'id':complaint.company.id}) }}">{{ complaint.company.name }}</a></h4>
        {% endif %}
        {{ complaint.author? complaint.author:'Аноним' }}  |  {{ complaint.created|format_date }} | Комментариев: {{ complaint.comments|length? : 0 }}
    

        {% if complaint %}
            <div class="row">
                {% if complaint.author != null and app.user != null and complaint.author == app.user %}
                    <a class="btn" href="{{ path('info_complaint_edit',{ 'complaint':complaint.id }) }}">
                        Редактировать данные отзыва
                    </a>
                    
                {% endif %}
                {% if complaint.author != null and app.user != null and complaint.author == app.user or  is_granted('ROLE_MODERATOR') %}
                    <a class="btn" href="{{ path('info_complaint_delete',{ 'complaint':complaint.id }) }}">
                            Удалить отзыв
                        </a>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="panel-body">
        {{ complaint.text|raw }}<br/>
        {% if complaint.someFile %}
        <a href="{{ path('sonata_media_download',{'id':complaint.someFile.id,'format':'reference'}) }}"> {{ complaint.someFile.name}} </a>
        <br/>
        {% endif %}

        {% for i in 1..5 %}
            {% if (i<=complaint.rating) %}
                <img src="{{ asset('public/images/img/star-on.png') }}">
            {% else %}
                <img src="{{ asset('public/images/img/star-off.png') }}">
            {% endif %}
        {% endfor %}
            <div class="clear"></div>
        <div class="margin-top20">
            {% include '@InfoComplaint/Default/social.html.twig' with {'url': url ('info_complaint_complaint',{'id':complaint.id}), 'title':("Отзыв о компании"~complaint.company.name), 'description':complaint.title } %}
            {#<div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print" data-url="{{ url ('info_complaint_complaint',{'id':complaint.id}) }}" data-title="Отзыв о компании {{ complaint.company.name }}" data-description="{{ complaint.title }}"></div>#}
        </div>
    </div>
</div>