<div class="panel panel-default">
    </br><a href="{{ path ('info_complaint_complaint',{'id':post.id}) }}">{{ post.title }}</a>
    </br>{{ post.author }}
    </br>{{ post.created|format_date }}
    </br>{{ post.id }}
    </br>{{ post.text }}
    </br>
    {% for i in 1..10 %}
        <div class="{% if i <= post.rating %} vote-active {{ i }}{% else %} vote-stars {% endif %}"></div>
    {% endfor %}
    <div class="clear"></div>
</div>