{{ form_start(form,{'attr': {'class':'form', 'novalidate':true } }) }}

    <div class="form-group {% if isCompanyPage is defined %}hide{% endif %}">
        <label>Название компании</label>

        {% if company is defined and company is not null %}
            <p class="form-control-static">{{ company.name }}</p>
        {% else %}
        <input type="text" id="company" name="company" class="form-control">
        {% endif %}
        {% if form.company is defined %}
            <div style="display: none">
                {{ form_widget(form.company) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_widget(form.text, { 'attr': {'class': 'form-control'} }) }}
    </div>

    {#<div class="form-group">#}
    {#<label>Rating</label>#}

    {#<div id="fixed" class="col-md-10">#}
    {#</div>#}
    {#</div>#}

    <div class="card-actionbar">
        <div class="card-actionbar-row no-padding">
            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-flat btn-primary ink-reaction'}}) }}
        </div>
    </div>
{{ form_end(form) }}