{{ form_start(form,{'attr': {'class':'form', 'novalidate':true } }) }}

    <div class="form-group {% if isCompanyPage is defined %}hide{% endif %}">
        <label>Название компании</label>
        <input type="text" id="company" name="company" class="form-control" {% if company is defined and company is not null %} value="{{ company.name }}" disabled="disabled"{% endif %}>
        <div style="display: none">
            {{ form_widget(form.company) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_widget(form.text, { 'attr': {'class': 'form-control'} }) }}
    </div>

    {#<div class="form-group">#}
    {#<label>Rating</label>#}

    {#<div id="fixed" class="col-md-10">#}
    {#</div>#}
    {#</div>#}

    <div class="card-actionbar">
        <div class="card-actionbar-row">
            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-flat btn-primary ink-reaction'}}) }}
        </div>
    </div>
{{ form_end(form) }}