{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/infocomplaint/js/jquery-ui.js') }}"></script>
    <script type="text/javascript">

        $(function(){

                $('#fixed').raty({
                    readOnly:  true,
                    starOff: '{{ asset('public/images/img/star-off.png') }}',
                    starOn: '{{ asset('public/images/img/star-on.png') }}',
                    number: 10,
                    score: 4,
                    click: function(score, evt) {
                        $('#Complaint_rating').val(score);
                    }
                });


        });
    </script>

{% endblock %}

{% block body %}
    <div class="panel panel-default">
        {% for complaint in complaintlist %}
           {{   include ('InfoComplaintBundle:Complaint:_blocComplaint.html.twig',{'complaint':complaint}) }}
        {% endfor %}
    </div>
{% endblock %}