{% extends "::base.html.twig" %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{ complaint.title }}</h4>
            {{ complaint.author }}  |  {{ complaint.created|format_date }}  |  {{ complaint.id }}
        </div>
        <div class="panel-body">{{ complaint.text }}
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}