{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/libs/microtemplating/microtemplating.min.js') }}"></script>
    <script src="{{ asset('bundles/infocomment/js/comment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/infocomplaint/js/complaint.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    {% include '@InfoComplaint/Complaint/_blockComplaint/_complaintItemInComplaintPage.html.twig' with {'complaint':complaint} %}
    <h2>Комментарии</h2>
    <ul class="list-comments">
    {% for treeComment in treeComments %}
        {{ treeComment|raw }}
    {% endfor %}
    </ul>
    {{ render(controller('InfoCommentBundle:Default:form', { 'complaint': complaint.id })) }}
    {% include 'InfoCommentBundle:Default:reply-form.html.twig' %}
{% endblock %}