{% extends "::base.html.twig" %}
{% block body %}
    <div class="panel panel-default">
        </br>{{ post.title }}
        </br>{{ post.author }}
        </br>{{ post.created|format_date }}
        </br>{{ post.id }}
        </br>{{ post.text }}
        </br>
        {% for i in 1..10 %}
            {% if (i<post.rating) %}
                <img src="{{ asset('public/images/img/star-on.png') }}">
            {% else %}
                <img src="{{ asset('public/images/img/star-off.png') }}">
            {% endif %}
        {% endfor %}
        <div class="clear"></div>
    </div>
{% endblock %}