{% extends "::base.html.twig" %}
{% block body %}
    <div class="panel panel-default">
        </br>{{ post.title }}
        </br>{{ post.author }}
        </br>{{ post.created|date }}
        </br>{{ post.id }}
        </br>{{ post.text }}
        </br>{{ post.rating }}
    </div>
{% endblock %}