{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('public/js/libs/summernote/summernote.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#Complaint_text').summernote(
                    {
                        oninit: function () {
                            $('.note-editable').css('min-height', '150px');
                        },
                        onImageUpload: Summernote.sendFile
                    });
        })
    </script>
    {% block rating %}

        <script src="{{ asset('bundles/infocomplaint/js/jquery_autocomplete.js') }}"></script>
        {#<script type="text/javascript">#}
        {#$(function () {#}
        {#$('#fixed').raty({#}
        {#readOnly: false,#}
        {#starOff: '{{ asset('public/images/img/star-off.png') }}',#}
        {#starOn: '{{ asset('public/images/img/star-on.png') }}',#}
        {#number: 5,#}
        {#width: 140,#}
        {#click: function (score, evt) {#}
        {#$('#Complaint_rating').val(score);#}
        {#}#}
        {#});#}
        {#});#}
        {#</script>#}
    {% endblock %}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('public/css/theme-1/libs/summernote/summernote.css') }}">
{% endblock %}

{% block body %}

    {% block sessionBlock %}

    {% endblock %}

    <div class="doc-section doc-lead">
        <h1 class="text-primary text-xxxl text-center">
            {% block header %}
                Добавление отзыва
            {% endblock %}
        </h1>
    </div>
    <div class="card">
        <div class="card-body">
            {{ form_start(form,{'attr': {'class':'form', 'novalidate':true } }) }}

            {% block changedBlock %}
                <div class="form-group">

                    <input type="text" id="company" name="company" class="form-control">
                    <label>Название компании</label>

                    <div style="display: none">
                        {{ form_widget(form.company) }}
                    </div>
                </div>
            {% endblock %}

            <div class="form-group">
                {{ form_widget(form.text, { 'attr': {'class': 'form-control'} }) }}
            </div>

            {#<div class="form-group">#}
            {#<label>Rating</label>#}

            {#<div id="fixed" class="col-md-10">#}
            {#</div>#}
            {#</div>#}

            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-flat btn-primary ink-reaction'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}