{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/infocomplaint/js/jquery_autocomplete.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#fixed').raty({
                readOnly:  false,
                starOff: '{{ asset('public/images/img/star-off.png') }}',
                starOn: '{{ asset('public/images/img/star-on.png') }}',
                number: 10,
                click: function(score, evt) {
                    $('#Complaint_rating').val(score);
                }
            });
        });
    </script>
{% endblock %}
{% block body %}
    {{ form_start(form) }}

    <div>
        <label>Company name</label>

        <div>
            {{ form_widget(form.company) }}
        </div>
    </div>

    <div>
        <label>Title</label>

        <div>
            {{ form_widget(form.title) }}
        </div>
    </div>

    <div>
        <label>Text</label>

        <div>
            {{ form_widget(form.text) }}
        </div>
    </div>

    <div class="wrap">

        <label>Rating</label>

        <div id="fixed">
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}