{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            Rating.init({
                image: '{{ asset('public/images/stars.png') }}',
                loadImg: '{{ asset('public/images/ajax-loader.gif') }}',
                idRating: 'rating_1',
                idHidden: 'Complaint_rating'
            });
        });
    </script>



{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}


{% block body %}
    {{ form_start(form) }}

    <div>
        <label>Company name</label>

        <div>
            {{ form_widget(form.company) }}
        </div>
    </div>

    <div>
        <label>Title</label>

        <div>
            {{ form_widget(form.title) }}
        </div>
    </div>

    <div>
        <label>Text</label>

        <div>
            {{ form_widget(form.text) }}
        </div>
    </div>

    <div class="wrap">

        <label>Rating</label>

        <div id="rating_1">
        </div>
        {{ form_widget(form.rating,{'attr':{'class':'val'} }) }}
    </div>

    {{ form_end(form) }}

{% endblock %}