{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    {% block rating %}

        <script src="{{ asset('bundles/infocomplaint/js/jquery_autocomplete.js') }}"></script>
        {#<script type="text/javascript">#}
        {#$(function () {#}
        {#$('#fixed').raty({#}
        {#readOnly: false,#}
        {#starOff: '{{ asset('public/images/img/star-off.png') }}',#}
        {#starOn: '{{ asset('public/images/img/star-on.png') }}',#}
        {#number: 5,#}
        {#width: 140,#}
        {#click: function (score, evt) {#}
        {#$('#Complaint_rating').val(score);#}
        {#}#}
        {#});#}
        {#});#}
        {#</script>#}
    {% endblock %}
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <script src="{{ asset('bundles/infocomplaint/js/fileupload.js') }}"></script>

{% endblock %}

{% block body %}

    {% block sessionBlock %}

    {% endblock %}

    <div class="card">
        <div class="card-body">
            {% block complaint_form %}
            {% include "@InfoComplaint/Complaint/_complaint_form.html.twig" with {'form' : form, 'company':company} %}
            {% endblock complaint_form %}
        </div>
    </div>
{% endblock %}