{% extends 'InfoComplaintBundle:Complaint:create_complaint.html.twig' %}

    {% block rating %}
        <script src="{{ asset('bundles/infocomplaint/js/jquery_autocomplete.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $('#fixed').raty({
                    readOnly: false,
                    starOff: '{{ asset('public/images/img/star-off.png') }}',
                    starOn: '{{ asset('public/images/img/star-on.png') }}',
                    number: 5,
                    width: 140,
                    score: {{ complaint.rating }},
                    click: function (score, evt) {
                        $('#Complaint_rating').val(score);
                    }
                });
            });
        </script>          
    {% endblock %}
    
    {% block sessionBlock %}
        {% if app.session.flashBag.has('complaint_edit_error') %}
            <div class="alert alert-success">
                {% for flashMessage in app.session.flashBag.get('complaint_edit_success') %}
                    {{ flashMessage }}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
    
    {% block complaint_form %}
        {% include "@InfoComplaint/Complaint/_complaint_form.html.twig" with {'form' : form, 'company':complaint.company} %}
    {% endblock %}
