{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/infocomplaint/js/waypoints/jquery.waypoints.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/infocomplaint/js/waypoints/shortcuts/infinite.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/infocomplaint/js/home.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/infocomplaint/js/complaint.js') }}"></script>
{% endblock %}
{% import "@InfoComplaint/Default/fab.html.twig" as fab %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% render controller('InfoComplaintBundle:Complaint:lastAddedComplaints', {page: 0}) %}
        </div>
    </div>
    <div id="loader" class="row">
        <div class="text-center">
            <svg class="spinner" width="33px" height="33px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
    {{ fab.show(path('info_complaint_create'), true) }}
{% endblock %}