{# src/Acme/TaskBundle/Resources/views/Default/new.html.twig #}
{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/autocomplete.js') }}"></script>
    <script src="{{ asset('public/js/jquery-ui.js') }}"></script>
{% endblock %}

{% block body %}
<form action="{{ path('SearchEngineBundle_results') }}" method="post" {{ form_enctype(form) }}>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="ui-widget">
            {{ form_row(form.name) }}
        </div>
    {{ form_end(form) }}
</form>

{% endblock %}