{#<div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print" data-url="{{ url }}" data-title="{{ title }}" data-description="{{ description }}"></div>#}
<div class="yashare-auto-init" data-yashareL10n="ru"
     data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"
     data-yashareLink="{{ url }}"
     data-yashareTitle="{{ title }}"
     data-yashareDescription="{{ description }}"
        ></div>