{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Редактирование данных о компании</h1>
    </div>

    {% if app.session.flashBag.has('manager.company_edit_success') %}
        <div class="alert alert-success">
        {% for flashMessage in app.session.flashBag.get('manager.company_edit_success') %}
            {{ flashMessage }}
        {% endfor %}
        </div>
    {% endif %}


    {{ form_start(form,{'attr': { 'role':'form', 'class':'form-horizontal'} }) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        <div class="col-sm-10">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.logo) }}
        <div class="col-sm-10">
            {{ form_widget(form.logo) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.address) }}
        <div class="col-sm-10">
            {{ form_widget(form.address) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.annotation) }}
        <div class="col-sm-10">
            {{ form_widget(form.annotation) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}