{% block use_link %}
    <a href="{{ path ('info_complaint_complaint',{'id':complaint.id}) }}">
        <h2>
            {{ complaint.title }}
        </h2>
    </a>
{% endblock %}

{% block show_company %}
    <h4>Компания:
    </h4>
{% endblock %}

{% block text %}
    {% if (complaint.text|length > 200) %}
        {{ complaint.text| striptags| slice(0, 200)| raw }}...
        <a href="{{ path ('info_complaint_complaint',{'id':complaint.id}) }}">
            Прочитать полностью
        </a>
    {% else %}
        {{ complaint.text|raw }}
    {% endif %}
{% endblock %}

{% block social %}
{% endblock %}