<div class="card {% if isLight is defined %}style-default-light{% else %}style-default-bright{% endif %}">
    <div class="card-head small-padding line-height-body">

        {% if complaint.author != null and app.user != null and complaint.author == app.user or  is_granted('ROLE_MODERATOR') %}
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-angle-down no-margin"></i>
                    </a>
                    <ul class="dropdown-menu animation-dock pull-right menu-card-styling" role="menu"
                        style="text-align: left;">
                        {% if complaint.author != null and app.user != null and complaint.author == app.user %}
                            <li>
                                <a class="btn" href="{{ path('info_complaint_edit',{ 'complaint':complaint.id }) }}">
                                    Редактировать отзыв
                                </a>
                            </li>
                        {% endif %}
                        {% if complaint.author != null and app.user != null and complaint.author == app.user or  is_granted('ROLE_MODERATOR') %}
                            <li>
                                <a class="btn" href="{{ path('info_complaint_delete',{ 'complaint':complaint.id }) }}"
                                    {% if app.request.attributes.get('_route') != 'info_complaint_complaint' %}
                                        onclick="removeComplaint($(this), {{ complaint.id }});return false;"
                                    {% endif %}>
                                    Удалить отзыв
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        {% if complaint.author %}
        <a href="{{ path('user_public_show', {'user': complaint.author.id}) }}">
            {{ gravatar_image(complaint.author, 30, {'class' :'img-circle img-responsive pull-left width-1 margin-right10'}) }}
        </a>
        {% else %}
            {{ gravatar_image(null, 30, {'class' :'img-circle img-responsive pull-left width-1 margin-right10'}) }}
        {% endif %}
        <span class="text-medium">
            {% if complaint.author %}
                <a href="{{ path('user_public_show', {'user': complaint.author.id}) }}">
                    {{ complaint.author }}
                </a>
            {% else %}
                Аноним
            {% endif %}
                    >
                <a class="text-primary" href="{{ path('info_company_homepage', {'slug':complaint.company.slug}) }}">
                    {{ complaint.company.name }}
                </a>
                </span>
        <br>
                <span class="opacity-50">
                    <a href="{{ path ('info_complaint_complaint',{'id':complaint.id}) }}">
                        {{ complaint.created|format_date }}
                    </a>
                </span>
    </div>
    <div class="card-body small-padding word-break">

        {% block text_block %}

            {% if (complaint.text|length > 200) %}
                {{ complaint.text| striptags| slice(0, 200)| raw }}...
                <a class="text-primary" href="{{ path ('info_complaint_complaint',{'id':complaint.id}) }}">
                    Прочитать полностью
                </a>
            {% else %}
                {{ complaint.text|striptags| raw }}
            {% endif %}
        {% endblock %}
        <div class="card-actionbar">
            <div class="card-actionbar-row">
                <span class="complaint-voting-block">
                    <a class="btn btn-icon-toggle ink-reaction pull-left vote" href="javascript:void(0)"
                       data-type="complaint" data-id="{{ complaint.id }}" data-votetype="plus">
                        <span class="md md-thumb-up no-margin"></span>
                    </a>
                    <span class="btn pull-left vote-value">
                        {{ complaint.vote }}
                    </span>
                    <a class="btn btn-icon-toggle ink-reaction pull-left vote" href="javascript:void(0)"
                       data-type="complaint" data-id="{{ complaint.id }}" data-votetype="minus">
                        <span class="md md-thumb-down no-margin"></span>
                    </a>
                </span>
                {% block comment_block %}
                <a class="btn ink-reaction pull-left"
                   href="{{ path ('info_complaint_complaint',{'id':complaint.id}) }}">
                    Комментариев: {{ complaint.comments|length }}
                </a>
                {% endblock %}
                {% block social_block %}
                    <div id="ya-share-{{ complaint.id }}" class="hide">
                        {%  include '@InfoComplaint/Default/social.html.twig' with {'url': url ('info_complaint_complaint',{'id':complaint.id}), 'title':(complaint.author? complaint.author : "Аноним") ~ " > " ~ complaint.company.name, 'description': complaint.text|striptags }  %}
                    </div>
                    <a class="btn ink-reaction pull-left share-popover" data-id="{{ complaint.id }}" href="javascript:void(0);">
                        Поделиться
                    </a>
                {% endblock %}
            </div>
        </div>

    </div>
</div>