{% extends "::base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-head style-primary">
                    <header>Сменить пароль</header>
                </div>
                <div class="card-body">
                    <form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST"
                          class="form">
                    <div class="row">
                        {{ form_widget(form) }}
                    </div>
                    <div class="card-actionbar">
                        <div class="card-actionbar-row">
                            <a class="btn btn-flat" href="{{ path('sonata_user_profile_show') }}">ОТМЕНА</a>
                            <button type="submit" class="btn btn-flat btn-accent"><i
                                        class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                            </button>
                        </div>
                        <!--end .card-actionbar-row -->
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form ':Form:form_theme.html.twig' %}
